{% extends "_base.html" %}

{% block main %}


<div class="table-responsive">
    <table class="table table table-hover">
        <a href="/add" class="btn btn-outline-primary">添加</a>
        <thead>
        <tr>
            <th>Diarytitle</th>
            <th>Time</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for dia in diaryList %}
        <!--    <tr>{{title.id}}</tr>-->
        <tr>
            <td>{{ dia.title }}</td>
            <td>{{ dia.date }}</td>
            <td><a href="/changediary/{{ dia.name }}/{{ dia.title }}/{{dia.id}}">查看/更改</a></td>
        </tr>
        {% else %}
        <tr>
            <p>no yet</p>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
